/*
This is free and unencumbered software released into the public domain.

Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a compiled
binary, for any purpose, commercial or non-commercial, and by any
means.

In jurisdictions that recognize copyright laws, the author or authors
of this software dedicate any and all copyright interest in the
software to the public domain. We make this dedication for the benefit
of the public at large and to the detriment of our heirs and
successors. We intend this dedication to be an overt act of
relinquishment in perpetuity of all present and future rights to this
software under copyright law.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.

For more information, please refer to <http://unlicense.org>
*/

#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

//
// Bitmap resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDB_SDRPlay        BITMAP         "..\\Resources\\SDRplay Diagram.bmp"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDB_SDRPlayR1      BITMAP         "..\\Resources\\SDRplay Diagram R1.bmp"

//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_ADVANCED DIALOG 0, 0, 227, 246
STYLE DS_3DLOOK | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW | WS_EX_TOPMOST
CAPTION "SDRplay Advanced Settings"
FONT 8, "Ms Shell Dlg"
{
    PUSHBUTTON      "Apply", IDC_ADVANCED_APPLY, 105, 226, 50, 14, 0, WS_EX_LEFT
    GROUPBOX        "LO Frequency Plan", 0, 17, 15, 196, 59, 0, WS_EX_TRANSPARENT
    AUTORADIOBUTTON "Auto", IDC_LOAUTO, 31, 33, 31, 8, WS_GROUP, WS_EX_LEFT
    AUTORADIOBUTTON "120MHz", IDC_LO120, 65, 33, 43, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "144MHz", IDC_LO144, 112, 34, 43, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "168MHz", IDC_LO168, 159, 34, 43, 8, 0, WS_EX_LEFT
    CONTROL         "Static", IDC_LOWARNING, WC_STATIC, NOT WS_GROUP | SS_LEFTNOWORDWRAP | SS_CENTERIMAGE, 31, 50, 166, 8, WS_EX_LEFT
    LTEXT           "Static", IDC_LOWARNING1, 31, 62, 166, 9, SS_LEFT, WS_EX_LEFT
    GROUPBOX        "Tuner DC Offset Compensation", 101, 19, 83, 192, 95, 0, WS_EX_TRANSPARENT
    AUTORADIOBUTTON "Static", IDC_DCSTAT, 29, 103, 34, 8, WS_GROUP, WS_EX_LEFT
    AUTORADIOBUTTON "One Shot", IDC_ONESHOT, 29, 120, 46, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "Periodic ", IDC_PERIODIC, 29, 138, 43, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "Continuous", IDC_CONTINUOUS, 29, 156, 51, 8, 0, WS_EX_LEFT
    GROUPBOX        "Refresh Period", 102, 104, 97, 92, 33, 0, WS_EX_LEFT
    COMBOBOX        IDC_REFRESH, 119, 110, 63, 250, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    GROUPBOX        "Tracking Period", 103, 103, 135, 93, 33, 0, WS_EX_LEFT
    CONTROL         "", IDC_TRACKINGPERIOD, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 109, 148, 43, 17, WS_EX_LEFT
    LTEXT           "Static", IDC_TRACKTIME, 156, 150, 36, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Exit", IDC_ADVANCED_EXIT, 160, 226, 50, 14, 0, WS_EX_LEFT
    GROUPBOX        "Post Tuner DC Compensation", 104, 21, 184, 191, 35, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Enable Post Tuner DC Compensation", IDC_POSTDCOFFSET, 35, 201, 133, 8, 0, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_SDRPLAY_SETTINGS DIALOG 0, 0, 565, 258
STYLE DS_3DLOOK | DS_SETFONT | WS_CAPTION | WS_GROUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW | WS_EX_TOPMOST
CAPTION "SDRPlay Device Controller"
FONT 8, "Ms Shell Dlg"
{
    PUSHBUTTON      "Advanced", IDC_Advanced, 374, 238, 58, 17, 0, WS_EX_LEFT
    CONTROL         IDB_SDRPlay, 0, WC_STATIC, SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE, 0, 0, 565, 230, WS_EX_LEFT
    COMBOBOX        IDC_IFMODE, 280, 80, 50, 100, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    EDITTEXT        IDC_PPM, 135, 100, 50, 14, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    CONTROL         "", IDC_PPM_S, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 173, 100, 11, 14, WS_EX_LEFT
    EDITTEXT        IDC_LNAGRTHRES, 95, 120, 20, 14, WS_DISABLED | ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
    COMBOBOX        IDC_IFBW, 280, 100, 50, 100, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    EDITTEXT        IDC_SETPOINT, 405, 104, 35, 13, ES_RIGHT | ES_AUTOHSCROLL, WS_EX_LEFT
    CONTROL         "", IDC_SETPOINT_S, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 429, 104, 11, 13, WS_EX_LEFT
    EDITTEXT        IDC_GR, 519, 180, 28, 14, ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER, WS_EX_STATICEDGE
    CONTROL         "", IDC_GR_S, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 535, 180, 11, 14, WS_EX_LEFT
    AUTOCHECKBOX    "", IDC_RSPAGC, 530, 200, 10, 8, BS_LEFTTEXT | BS_CENTER | BS_NOTIFY, WS_EX_TRANSPARENT
    COMBOBOX        IDC_SAMPLERATE, 405, 85, 34, 173, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    CONTROL         "", IDC_GAINSLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_VERT | TBS_BOTH | TBS_ENABLESELRANGE, 480, 75, 30, 90, WS_EX_STATICEDGE
    CTEXT           "Gain Reduction (dB)", IDC_STATIC, 451, 180, 68, 15, SS_CENTER | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    CONTROL         "", IDC_LNASLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_VERT | TBS_BOTH | TBS_NOTICKS, 70, 100, 20, 50, WS_EX_DLGMODALFRAME
    LTEXT           "SDRplay Ltd   Vesion 3.0   Build 0811", IDC_STATIC, 10, 230, 120, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Load Defaults", IDC_LoadDefaults, 435, 238, 59, 18, 0, WS_EX_LEFT
    PUSHBUTTON      "Exit", IDC_EXIT, 499, 239, 41, 17, 0, WS_EX_LEFT
    LTEXT           "LNA OFF", IDC_LNASTATE, 76, 191, 30, 8, SS_LEFT, WS_EX_TRANSPARENT
    LTEXT           "LNA GR 24 dB", IDC_LNAGR, 68, 202, 48, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "MIXER OFF", IDC_MXRSTATE, 140, 191, 39, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Mixer GR 19 dB", IDC_MIXERGR, 135, 202, 51, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "IF Gain Reduction 120 dB", IDC_IFGR, 226, 199, 83, 8, SS_LEFT, WS_EX_LEFT
}
